<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.joinus.dao.MypageDAO">
	
	<select id="mypageReadAll" parameterType="StartEnd" resultType="MeetingDTO">
		SELECT meeting_number, meeting_title, date_format(meeting_insertdate, '%Y-%m-%d') meeting_insertdate, meeting_startdate, meeting_hits
		FROM meeting
		WHERE users_id = #{users_id}
		ORDER BY meeting_number desc limit #{startNo}, 10;
	</select>
	
	<select id="getMeetingTotal" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM meeting
		WHERE users_id = #{users_id}
	</select>
	
	<select id="mypageFavorites" parameterType="StartEnd" resultType="FavoritesDTO">
		SELECT  f.favorites_number, f.users_id,  f.favorites_date,  f.meeting_number, m.meeting_title
		FROM favorites f INNER JOIN meeting m
		ON f.meeting_number = m.meeting_number
        WHERE f.users_id = #{users_id}
        group by f.favorites_number
        order by f.favorites_number desc;
	</select>
	
	<select id="getFavoritesTotal" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM favorites
		WHERE users_id = #{users_id}
	</select>
	
	<delete id="deleteOne" parameterType="int">
		DELETE FROM favorites
		WHERE favorites_number = #{favorites_number} 
	</delete>
	
	<insert id="addReivews" parameterType="ReviewsDTO">
		INSERT INTO meeting_reviews	
		VALUES (null, #{users_id}, #{meeting_number}, #{reviews_contents}, #{reviews_evaluation}, sysdate(), #{reviews_title} )
	</insert>
	
	<update id="waterBean" parameterType="UsersDTO">
		UPDATE users
		SET users_water = #{users_water}, users_bean = #{users_bean}
		WHERE users_id = #{users_id}
	</update>

</mapper>