<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.joinus.dao.UsersDAO">
	<select id="getMemberFindByEmail" parameterType="String" resultType="kr.co.joinus.dto.UsersDTO">
		SELECT * FROM users
		WHERE users_email = #{users_email}
	</select>
	
	<insert id="insertOne" parameterType="kr.co.joinus.dto.UsersDTO">
		INSERT INTO users
		VALUES (#{users_id}, #{users_pwd}, #{users_name}, #{users_phone}, #{users_email}, #{users_nick}, sysdate, #{users_addrs}, 0, 0, 0, null)
	</insert>
	
	<select id="isExistId" parameterType="String" resultType="kr.co.joinus.dto.UsersDTO">
		SELECT * FROM users
		WHERE users_id = #{users_id}
	</select>
	
	<insert id="insertEmailOnly" parameterType="kr.co.joinus.dto.UsersDTO">
		INSERT INTO users (users_email)
		VALUES (#{users_email})
	</insert>

</mapper>