<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.joinus.dao.UsersDAO">
	<select id="selectAll" resultType="UsersDTO">
		SELECT * FROM users
	</select>
	
	<delete id="deleteOne" parameterType="String">
		DELETE FROM users WHERE users_id = #{users_id}
	</delete>
	
	<select id="getMemberFindByEmail" parameterType="String" resultType="UsersDTO">
		SELECT * FROM users
		WHERE users_email = #{users_email}
	</select>
	
	<select id="getMemberFindByEmailsearch" parameterType="String" resultType="UsersDTO">
		SELECT * FROM users
		WHERE users_email = #{users_email} AND users_sns = "x"
	</select>
	
	<select id="getMemberFindByEmailAndSns" parameterType="UsersDTO" resultType="UsersDTO">
		SELECT * FROM users
		WHERE users_email = #{email} AND users_sns = #{clientName}
	</select>
	
	<select id="getMemberFindById" parameterType="String" resultType="UsersDTO">
		SELECT * FROM users
		WHERE users_id = #{users_id}
	</select>
	
	<insert id="insertOne" parameterType="UsersDTO">
		INSERT INTO users
		VALUES (#{users_id}, #{users_pwd}, #{users_name}, #{users_phone}, #{users_email}, #{users_nick}, now(), #{users_addrs}, 0, 0, 0, null, 'USER', #{users_zipcode}, #{users_sns})
	</insert>
	
	<select id="isExistId" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM users
		WHERE users_id = #{users_id}
	</select>
	
	<select id="isExistEmail" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM users
		WHERE users_email = #{users_email} AND users_sns = "x"
	</select>

</mapper>